/SortingBot/nbproject/private/
/SortingBot/build/
*.properties
*.jar

*.TXT

*.properties

*.properties
/SortingBotGUI/build/
/Last version/SortingBot/nbproject/private/
/Last version/SortingBot/build/